/* Команда */

.command-box {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  text-align: center;
  margin-top: 50px;
}

.command-name {
  color: $heading-color;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 10px;
}

.command-position {
  color: $main-text-color;
  margin-bottom: 16px;
}

.command-section {
  background-color: $command-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-people {
  display: block;
  width: 270px;
  background-color: $main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-people:not(:last-child) {
  margin-right: 30px;
}
