/* Подвал */

.footer {
  background-color: $darck-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
}

.footer-box {
  display: inline-block;
  margin-right: 70px;
  line-height: 1.71;
  font-style: normal;
}

.footer-box .logo {
  color: $main-color;
  display: block;
  margin: 0;
  padding-bottom: 20px;
}

.footer-address {
  color: $main-color;
}

.footer-address:not(:last-child) {
  padding-bottom: 9px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts.mail {
  display: block;
  padding-bottom: 9px;
}

.footer-social {
  display: inline-block;
  margin-top: 12px;
}

footer h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 20px;
  color: #ffffff;
}

.mail-form {
  display: block;
  margin-top: 12px;
  margin-left: auto;
  margin-right: 0;
}

/* .mail-form > h2 {
  margin: 0;
} */

.mail-label {
  display: inline-block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.mail-input {
  display: inline-block;
  width: inherit;
  height: inherit;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: $darck-background-color;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
